:root {
    --hartex-documentation-font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans,
        sans-serif, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    background-color: #0F1419;
}

.page-title {
    margin-top: 15%;
}

.page-title-text {
    color: white;
    font-family: var(--hartex-documentation-font-family);
    font-size: 3rem;
    text-align: center;

    margin-bottom: 10px;
}

.page-title-description {
    color: white;
    font-family: var(--hartex-documentation-font-family);
    font-size: 1.8rem;
    font-weight: normal;
    text-align: center;

    margin-top: 0;
}

.get-started-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;

    padding: 5px 0;
    text-align: center;
    font-family: var(--hartex-documentation-font-family);

    font-weight: bold;
    font-size: 17px;
    box-sizing: border-box;
    border-radius: 7px;

    width: 15%;

    background-color: white;
}

.get-started-button:hover {
    background-color: lightgray;
}
