[package]
name = "hartex_discord_utils"
version = "0.1.0"
edition = "2021"
description = """
Macro utilities
"""
license = "AGPL-3.0-only"
rust-version = "1.68.0"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
hartex_discord_core = { path = "../../discord-frontend/hartex-discord-core", features = ["discord-http"] }

once_cell = "1.17.0"

[features]
