# Interaction configuration
APPLICATION_ID=application_id

# Backend API specification
API_DOMAIN=example.com

# Bors Configuration
APP_ID=app_id
SMEE_URL=smee_url

# Sharding configuration
BOT_TOKEN=token
NUM_SHARDS=shards
SHARD_CONCURRENCY=shard_concurrency
SHARD_CONCURRENCY_WAIT_SECONDS=shard_concurrency_wait_seconds
SHARDS_START_INDEX=shards_start_index

# Kafka things
KAFKA_BOOTSTRAP_SERVERS=kafka_bootstrap_servers
KAFKA_TOPIC_INBOUND_DISCORD_GATEWAY_PAYLOAD=kafka_topic_inbound_discord_gateway_payload
KAFKA_TOPIC_OUTBOUND_COMMUNICATION=kafka_topic_outbound_communication

# PostgreSQL things
API_PGSQL_URL=api_pgsql_url
HARTEX_NIGHTLY_PGSQL_URL=hartex_nightly_pgsql_url
POSTGRES_PGSQL_URL=postgres_pgsql_url
