# directories
.idea
old

# Python virtual environment
venv

# built binaries (local host), optional
out

# target directories
**/target
target

# .lock files
**/Cargo.lock
old/Cargo.lock

# local build configuration
buildconf.toml

# environment variables
env.vars
