# directories
.idea
old

# Python virtual environment
venv

# built binaries (local host), optional
out

# target directories
**/target
target

# local build configuration
buildconf.toml

# environment variables
env.vars
