# Sample TOML configuration for building HarTex.

# ===============================================
# CACHE CONFIGURATION
# ===============================================
[cache]

# Configures the backend to use for the cache.
#
# Only "postgres" is supported at the moment.
#backend = "postgres"

# ===============================================
# LOAD BALANCER CONFIGURATION
# ===============================================
[loadbal]

# Configures the servers to load balance.
#servers = [
#    { type = "rest", address = "0.0.0.0:0000" }
#]
