; SPDX-License-Identifier: AGPL-3.0-only
;
; This file is part of HarTex.
;
; HarTex
; Copyright (c) 2021-2022 HarTex Project Developers
;
; HarTex is free software; you can redistribute it and/or modify
; it under the terms of the GNU Affero General Public License as published by
; the Free Software Foundation; either version 3 of the License, or
; (at your option) any later version.
;
; HarTex is distributed in the hope that it will be useful,
; but WITHOUT ANY WARRANTY; without even the implied warranty of
; MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
; GNU Affero General Public License for more details.
;
; You should have received a copy of the GNU Affero General Public License along
; with HarTex. If not, see <https://www.gnu.org/licenses/>.

; the bot token to use for the gateway and authentication when accessing the Discord REST API
define BOT_TOKEN

; the authorization key for the event handler server
define EVENT_SERVER_AUTH

; the port to the event handler server
define EVENT_SERVER_PORT

; the authorization key for the REST server
define REST_SERVER_AUTH

; the port to the REST server
define REST_SERVER_PORT

; whether or not to enable HTTP/2.0 for the REST server when proxying requests to the actual Discord API
define REST_HTTP_2_ENABLED

; variables that are only defined when the PostgreSQL cache backend is enabled at build-time
if defined ENABLE_PGSQL_CACHE_BACKEND

; the credentials to establish connections to the PostgreSQL cache database server
define PGSQL_CACHE_DB_CREDENTIALS

endif

; the credentials to establish connections to the PostgreSQL whitelist database server
define PGSQL_WHITELIST_DB_CREDENTIALS
