---
/* SPDX-License-Identifier: AGPL-3.0-only
 *
 * This file is part of HarTex.
 *
 * HarTex
 * Copyright (c) 2021-2022 HarTex Project Developers
 *
 * HarTex is free software; you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * HarTex is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along
 * with HarTex. If not, see <https://www.gnu.org/licenses/>.
 */

import '../index.css'
import '../terms.css'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="HarTex - Terms of Service">
    <section class="justify-center items-center xl:text-left">
        <div class="mt-28 mx-28">
            <h1>Terms of Service</h1>
            <h3>Effective Date: <em>TBD</em></h3>
            <h3>Last Updated: 23 October 2022</h3>

            <br/>

            <p>We express a sincere thank-you for using HarTex. Please read carefully this Terms of Service
            (<strong>"Terms"</strong>) before using HarTex, this website (<strong>"Website"</strong>), and/or services
            (<strong>"Services"</strong>) provided by Team HarTex (<strong>"Team HarTex"</strong>, <strong>"we"</strong>
            , <strong>"our"</strong> or <strong>"us"</strong>).</p>

            <h2>Section A. Clarifications</h2>
            <p>To clarify, these Terms only apply to the usage of this Website and the Services we provide. These Terms
            <strong>DO NOT</strong> apply to:</p>
            <p>i. the use of open-source code, documentation and/or other content available on GitHub, which is governed
            by the terms of the applicable open-source license(s); and</p>
            <p>ii. the participation in open-source projects on GitHub, otherwise in the form of issues, pull
            requests and/or other related features, which is governed by GitHub's
            <a href="https://docs.github.com/en/site-policy/github-terms/github-terms-of-service" target="_blank" type="button" rel="noreferrer">Terms and Conditions</a>.</p>

            <br/>

            <p>Amendments or modifications may be made to these Terms with or without prior notice at our discretion.
            Any such amendments or modifications shall be effective upon postage on this Website.</p>

            <br/>

            <p>You understand that by browsing this Website and using our Services, you accept these Terms; and you
            shall accept any future amendments or modifications to these Terms through continuous usage of our Website
            and Services.</p>
        </div>
    </section>
</MainLayout>
