---
/* SPDX-License-Identifier: AGPL-3.0-only
 *
 * This file is part of HarTex.
 *
 * HarTex
 * Copyright (c) 2021-2022 HarTex Project Developers
 *
 * HarTex is free software; you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation; either version 3 of the License, or
 * (at your option) any later version.
 *
 * HarTex is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License along
 * with HarTex. If not, see <https://www.gnu.org/licenses/>.
 */

import '../index.css'
import '../terms.css'
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="HarTex - Terms of Service">
    <section class="justify-center items-center xl:text-left">
        <div class="mt-28 mx-28">
            <h1>Terms of Service</h1>
            <h3>Effective Date: <em>TBD</em></h3>
            <h3>Last Updated: 22 October 2022</h3>

            <br/>

            <p>We express a sincere thank-you for using HarTex. Please read carefully this Terms of Service before using HarTex and/or its related services.</p>

            <h2>Section A. Definitions</h2>
            <p>- The word "Terms" refers to this Terms of Service.</p>
            <p>- The words "We", "Us" and "Our" refer to Team HarTex.</p>
        </div>
    </section>
</MainLayout>
