<!--
  ~ SPDX-License-Identifier: AGPL-3.0-only
  ~
  ~ This file is part of HarTex.
  ~
  ~ HarTex
  ~ Copyright (c) 2021-2023 HarTex Project Developers
  ~
  ~ HarTex is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation; either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ HarTex is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along
  ~ with HarTex. If not, see <https://www.gnu.org/licenses/>.
  -->

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Bors V2</title>
    <style>
        * {
            font-family: sans-serif;
        }

        code {
            background-color: #efefef;
            border-radius: 5px;
        }

        h1 {
            font-size: 26px;
        }

        h2 {
            font-size: 22px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 18px;
        }

        p, ul {
            font-size: 19px;
            line-height: 150%;
        }

        .wrapper {
            max-width: 60em;
            margin-left: auto;
            margin-right: auto;
        }

        .repositories {
            font-size: 20px;
            line-height: 180%;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1>Bors V2</h1>

        <h2>Repositories</h2>

        <ul class="repositories">
            {{#each repositories}}
            <li>
                <a href="queue/{{this.label}}">{{this.label}}</a>
            </li>
            {{/each}}
        </ul>

        <hr>

        <h2>Bors V2 User Manual</h2>

        <h3>Command List</h3>

        <p>
            Below is a list of commands Bors V2 accepts. Bors V2 commands must be in the
            form of a comment on a pull request. Bors V2 will only answer to persons who
            have certain permissions configured in the permissions database.
            <strong>Note that Bors V2 only recognizes comments in OPEN pull requests.</strong>
        </p>

        <ul>
            <li>
                <code>try</code>: request a test of this pull request without explicitly approving it.
            </li>
            <li>
                <code>try-</code>: cancel a requested test started using the <code>try</code> command.
            </li>
        </ul>

        <h3>Example Usage</h3>

        <ul>
            <li>
                <code>bors try</code>
            </li>
        </ul>
    </div>
</body>

</html>