<!--
  ~ SPDX-License-Identifier: AGPL-3.0-only
  ~
  ~ This file is part of HarTex.
  ~
  ~ HarTex
  ~ Copyright (c) 2021-2023 HarTex Project Developers
  ~
  ~ HarTex is free software; you can redistribute it and/or modify
  ~ it under the terms of the GNU Affero General Public License as published by
  ~ the Free Software Foundation; either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ HarTex is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU Affero General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along
  ~ with HarTex. If not, see <https://www.gnu.org/licenses/>.
  -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bors for HarTex</title>
    <style>
        h1 {
            font-size: 22px;
        }

        h2 {
            font-size: 18px;
        }

        h3 {
            font-size: 16px;
        }

        h4 {
            font-size: 14px;
        }

        .wrapper {
            max-width: 60em;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
<div class="wrapper">
    <h1>Bors for HarTex</h1>

    <h2>Repositories</h2>
</div>
</body>
</html>
